.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.all_conatiner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100hv;
}
