.contacts_add {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  background-color: #00000058;
  transition: all 0.1s linear;
}

.contacts_add.active {
  bottom: 0;
  opacity: 1;
  z-index: 9999;
  display: flex;
}

.conatct_modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  border-radius: 10px;
  height: 550px;
  background-color: #17212b;
}

.header_conatct_modal_container {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 70px;
  align-items: center;
  border-bottom: 1px solid #00000089;
  z-index: 99;
  background-color: #17212b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: sticky;
  bottom: 0;
}

.contact_search {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #ccebeb;
}

.text_contact {
  font-size: 20px;
  margin-top: 10px;
}

.search_text {
  display: flex;
  align-items: center;
  color: #67747e;
}

.search_text input {
  display: flex;
  width: 250px;
  height: 30px;
  border: none;
  color: #ccebeb;
  background-color: transparent;
  margin-left: 15px;
  font-size: 16px;
}

.main_container_contact_modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: #ccebeb;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgb(210, 201, 201);
}

::-webkit-scrollbar-thumb {
  background-color: #dfb5b5a3;
}

.user_contact_modal_link {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100px;
  padding: 5px;
}

.user_contact_modal_link:hover {
  background-color: #00000074;
}

.img_contact_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
  margin-right: 10px;
}

.img_contact_modal p {
  font-size: 20px;
}

.name_conatct_modal {
  font-size: 18px;
}

.footer_container_contact_modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #0000007d;
}

.footer_container_contact_modal button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #ccebeb;
  width: 150px;
  height: 38px;
  margin: 25px;
  cursor: pointer;
  border-radius: 3px;
}

.footer_container_contact_modal button:hover {
  background-color: #00000085;
}

.conatct_add_modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  border-radius: 10px;
  height: 350px;
  background-color: #17212b;
}

.header_conatct_add_modal_container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  color: #ccebeb;
}

.add_conatct {
  font-size: 20px;
  margin-left: 25px;
}

.main_add_contacts {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
}

.name_user_add_contacts {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_user_add_contacts input {
  margin-left: 10px;
  width: 250px;
  height: 35px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #21218c;
  color: #ddd;
  font-size: 16px;
}

.surname_user_add_contacts {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.surname_user_add_contacts input {
  margin-left: 10px;
  width: 250px;
  height: 35px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #21218c;
  color: #ddd;
  font-size: 16px;
}

.number_user_add_contacts {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number_user_add_contacts input {
  margin-left: 10px;
  width: 250px;
  height: 35px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #21218c;
  color: #ddd;
  font-size: 16px;
}

.footer_add_acaunt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 60px;
}

.footer_add_acaunt button {
  width: 120px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  color: #1b8ca9;
  font-size: 18px;
  border: none;
  font-weight: 700;
}

.footer_add_acaunt button:hover {
  color: #074c5d;
}
