.right_bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100vh;
  background-color: #0e1621;
}

.right_bar .message {
  width: 100%;
  height: 99.35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select_contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.right_bar .select_contact_container .select_contact {
  width: 300px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffe1;
  font-size: 16px;
  border-radius: 40px;
  background-color: #1e2c3a;
}
